
body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#poem-line {
    font-size: 20px;
}
