
body, html, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFD1A1; /* Lighter Orange */
    display: flex;
    align-items: center;
    justify-content: center;
}
